{% extends 'base.html' %}
{% block content %}
<section id="about">
  <h2>За мен</h2>
  <p>Здравейте, казвам се <strong>Свилен Младенов</strong> и работя като <strong>DevOps инженер</strong>. В ежедневната си работа се занимавам с изграждане на <strong>автоматизирани процеси</strong>, <strong>CI/CD пайплайни</strong> и <strong>инфраструктура като код</strong> – теми, които ме вдъхновяват и предизвикват.</p>

  <p>Проектът <strong>DevOps Trends</strong> създадох като начин да обединя интереса си към DevOps и анализа на данни. Той има за цел да покаже какво се случва на пазара на труда в нашата област – чрез <strong>обработка и визуализация на реални обяви за работа</strong>. Вярвам, че данните могат да разкажат важни истории – стига да ги подредим правилно.</p>
</section>
{% endblock %}
